<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="GCP_Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ssethrabalan/IdeaProjects/API">
        <classes>
            <class name="GcpAddress"/>
            <class name="SfPolicy"/>
        </classes>
    </test>
</suite>